<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;600;700&display=swap" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet" />
</head>
<body>

    <header class="header">
        <h1>Sistema Empleado</h1>
    </header>

    <aside class="aside">
        @if (IsSectionDefined("SideBar"))
        {
            @RenderSection("SideBar")
        }
        else
        {
            <h2>Administracion de Empleados</h2>
        }

    </aside>

    <nav class="nav">
        @Html.ActionLink("Home","Index","Home")
        @Html.ActionLink("Lista de Empleados","Index","Empleado")

    </nav>

    <main class="main">
        @RenderBody()
    </main>

    <footer class="footer">
        <p>Info@SistemaWebEmpleado.com</p>
    </footer>

</body>
</html>
