@model SistemaWebEmpleado.Models.Empleado
@{
    ViewData["Title"] = "Eliminar Empleado";
}

<h3 class="strong"> ¿Esta seguro de que desea eliminar este Empleado?</h3>

@using (Html.BeginForm("Delete", "Empleado", FormMethod.Post))
{
    <div class="propiedad">
        <span class="prop-name">@Html.DisplayNameFor(m=>m.Nombre)</span>
        <span class="prop-value">@Html.DisplayFor(m=>m.Nombre)</span>
    </div>
    <div class="propiedad">
        <span class="prop-name">@Html.DisplayNameFor(m=>m.Apellido)</span>
        <span class="prop-value">@Html.DisplayFor(m=>m.Apellido)</span>
    </div>

    <div class="propiedad">
        <span class="prop-name">@Html.DisplayNameFor(m=>m.DNI)</span>
        <span class="prop-value">@Html.DisplayFor(m=>m.DNI)</span>
    </div>

    <div class="propiedad">
        <span class="prop-name">@Html.DisplayNameFor(m=>m.Legajo)</span>
        <span class="prop-value">@Html.DisplayFor(m=>m.Legajo)</span>
    </div>
    <input type="submit" action="Delete" value="Borrar">
    <button class="btn btn-azul">
    @Html.ActionLink("Cancelar","Index", "Empleado")
    </button>
}