@model SistemaWebEmpleado.Models.Empleado
@{
    ViewData["Title"] = "Detalle Empleado";
}
<table>
    <tr>
        <th>@Html.DisplayNameFor(e=> e.Id)</th>
        <th>@Html.DisplayNameFor(e=> e.Nombre)</th>
        <th>@Html.DisplayNameFor(e=> e.Apellido)</th>
        <th>@Html.DisplayNameFor(e=> e.DNI)</th>
        <th>@Html.DisplayNameFor(e=> e.Legajo)</th>
        <th>@Html.DisplayNameFor(e=> e.FechaNacimiento)</th>
        <th>@Html.DisplayNameFor(e=> e.Titulo)</th>
        <th></th>
    </tr>
   
    
        <tr>
            <td>
                @Html.DisplayFor(m=> m.Id)
            </td>
            <td>
                @Html.DisplayFor(m=> m.Nombre)
            </td>

            <td>
                @Html.DisplayFor(m=> m.Apellido)
            </td>
            <td>
                @Html.DisplayFor(m=> m.DNI)
            </td>
            <td>
                @Html.DisplayFor(m=> m.Legajo)
            </td>
            <td>
                @Html.DisplayFor(m=> m.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(m=> m.Titulo)
            </td>
            <td>
        
                @Html.ActionLink("Eliminar", "Delete", "Empleado",new{id=Model.Id})
                @Html.ActionLink("Editar", "Edit", "Empleado",new{id=Model.Id})
            </td>

        </tr>
    
</table>